<div class="absolute top-full mt-1 w-full bg-white dark:bg-gray-800 divide-y divide-gray-100 dark:divide-gray-700 rounded-md shadow-lg z-50" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
    @for (product of searchedProducts; track product.productId)
    {
      <div class="py-1">
      <!-- Active: "bg-gray-100 text-gray-900 outline-hidden", Not Active: "text-gray-700" -->
      <a href="product/{{product.productId}}" class="block px-4 py-2 text-sm text-gray-700 dark:text-white">
        <div class="grid grid-cols-9 gap-4 row-span-1 col-span-full divide-x divide-gray-100 dark:divide-gray-700">
            <img class="col-span-1 bg-gray-200" src="{{ giveImage(product) }}">
            <p class="col-span-6">{{ product.name }}</p>
            <p class="col-span-2">{{ product.actualPrice }} zł</p>
        </div>
      </a>
    </div>
    }
<div>