<nav #navbar class="bg-white dark:bg-gray-900 text-white fixed w-full top-0 left-0 z-50 transition-all duration-300"
     [class.shadow-md]="isScrolled"
     [class.py-0]="isScrolled">
  <div class="max-w-screen-xl mx-auto px-4">
    <!-- First Row (always visible) -->
    <div class="flex items-center justify-between h-16 transition-all duration-300">
      <!-- Logo -->
      <a href="" class="shrink-0 items-center transition-all duration-300">
        <img [src]="logoPath"
             [class.pt-10]="!isScrolled"
             [class.h-8]="isScrolled"
             class=""
             alt="Armapol Logo"/>
      </a>

      <!-- Search Bar (always visible and centered) -->
      <div class="absolute left-1/2 transform -translate-x-1/2 w-full max-w-md px-4">
        <div class="relative w-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 20 20">
              <path stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="text" class="w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                 placeholder="Szukaj...">
        </div>
      </div>

      <!-- Icons -->
      <div class="shrink-0 flex items-center gap-2">
        <!-- User -->
        <button routerLink="/login" type="button" class="p-1 rounded-full">
          <svg class="w-8 h-8 text-gray-400"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24">
            <path stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a9 9 0 0 0 5-1.5 4 4 0 0 0-4-3.5h-2a4 4 0 0 0-4 3.5 9 9 0 0 0 5 1.5Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
        </button>
        <!-- Cart-->
        <div class="relative py-2">
          <button type="button" class="p-1 rounded-full">
            <div class="t-0 absolute top-2 left-5">
              <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-2 text-xs text-white">
                2
              </p>
            </div>
            <svg class="w-8 h-8 text-gray-400"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24">
              <path stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Second Row: Navigation Links (hidden when scrolled) -->
    <div class="flex justify-center transition-all duration-300"
         [class.py-2]="!isScrolled"
         [class.opacity-0]="isScrolled"
         [class.h-0]="isScrolled"
         [class.py-0]="isScrolled"
         [class.pointer-events-none]="isScrolled">
      <div class="flex gap-6 font-medium">
        <a routerLink="home" class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500 px-2 py-1">
          Strona Główna
        </a>
        <a routerLink="/catalog" class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500 px-2 py-1">
          Katalog
        </a>
        <a href="#" class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500 px-2 py-1">
          VIN
        </a>
        <a routerLink="/about" class="text-gray-900 dark:text-white hover:text-blue-700 dark:hover:text-blue-500 px-2 py-1">
          O nas
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="content-container"></div>
